@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
/* * {
     margin: 0;
     padding:0;
     box-sizing: border-box;
   } */

  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  /* * {
    scrollbar-width: none;
    scrollbar-color: #e4d9e7 #101010;
  }none

  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #101010;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #e4d9e7;
    border-radius: -40px;
    border: 6px solid #101010;
  } */
/* Styling for screens larger than 500px */
@media (min-width: 501px) {
  * {
    scrollbar-width: none;
    scrollbar-color: #e4d9e7 #101010;
  }

  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #101010;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #e4d9e7;
    border-radius: -40px;
    border: 6px solid #101010;
  }
}

  @media (max-width: 500px) {

  }
  
  /* ********************** */

   /* body {
    background-color: #101010;
   } */
 
   header {
     position: sticky;
     z-index: 999;
     box-shadow: 0px 0px 40px 0px;
     /* backdrop-filter: blur(8px); */
     top: 0;
     left: 0;
     width: 100%;
     padding: 20px 90px;
     /* background: black; */
     background-color: rgba(0, 0, 0, 0.5);
     display: flex;
     justify-content: space-between;
     align-items: center;
     /* backdrop-filter: blur(8px); */
 }

 .logo {
     font-size: 30px;
     color: #fff;
     text-decoration: none;
     font-weight: 700;
     font-family: 'Lexend';
 }


.nav1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 .nav2 {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .company-name {
     color: #fff;
     margin-left: 35px;
     text-decoration: none;
     
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
 }

 .contact1 {
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
 }

   .toggle-btn {
     position: relative;
     margin: 1.4em;
     padding: 1em;
     width: 40px;
     height: 12px;
     right: 0;
     z-index: 12;
     margin-top: 10px;
     /* cursor: pointer; */
 }
 
 span.one {
     position: absolute;
     width: 40px;
     height: 2px;
     background: #ffffff;
     cursor: pointer;
 }
 
 span.two {
     position: absolute;
     width: 40px;
     height: 2px;
     background: #ffffff;
     margin-top: 12px;
     cursor: pointer;
 }
 
 .menu {
     z-index: 10;
     position: fixed;
     background: #101010;
     height: 100vh;
     width: 100%;
     top: -100%;
     left: 0;
     
 
 }
 
 .data {
     padding: 8em 0 0 2em;
     text-align: left;
 }
 
 /* ul {
     list-style: none;
 } */
 
 .header {
     color: grey;
     font-family: Poppins;
     font-size: 30px;
 }
 
 /* #menu-item {
     color: #fff; font-size: 42px;

     text-decoration: none;
 }

 #menu-item a:hover {
  color: #000;
  -webkit-text-stroke: 3px #000;
} */



/* ******************************************** */
.ull {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.ull, #menu-item {
  position: relative;
  list-style: none;
}

.ull li a {
  font-family: 'Montserrat', sans-serif;
  font-size: 5em;
  font-weight: 600;
  color: rgba(73, 64, 64, 0.5);
  text-decoration: none;
  letter-spacing: 2px;
  line-height: 1em;
  text-transform: uppercase;
  /* color: transparent; */
  /* -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5); */
}

.ull li a::before {
  content: attr(data-text);
  position: absolute;
  color: var(--clr);
  width: 0;
  overflow: hidden;
  transition: 1s;
  border-right: 8px solid var(--clr);
  -webkit-text-stroke: 1px var(--clr);
}

.ull li a:hover::before {
  width: 30%;
  filter: drop-shadow(0 0 25px var(--clr));
}

/* ******************************************* */
@media screen and (min-width: 994px) and (max-width: 1132px) {
  .ull li a:hover::before {
    width: 40%;
    filter: drop-shadow(0 0 25px var(--clr));
  }
}

@media screen and (min-width: 861px) and (max-width: 994px) {
  .ull li a:hover::before {
    width: 50%;
    filter: drop-shadow(0 0 25px var(--clr));
  }
}

@media screen and (min-width: 799px) and (max-width: 861px) {
  .ull li a:hover::before {
    width: 60%;
    filter: drop-shadow(0 0 25px var(--clr));
  }
}

@media screen and (min-width: 671px) and (max-width: 799px) {
  .ull li a {
    font-size: 4.3em;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1em;
  }

  .ull li a:hover::before {
    width: 55%;
    filter: drop-shadow(0 0 25px var(--clr));
  }
}

@media screen and (min-width: 615px) and (max-width: 671px) {
  .ull li a {
    font-size: 4em;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1em;
  }

  .ull li a:hover::before {
    width: 60%;
    filter: drop-shadow(0 0 25px var(--clr));
  }
}

@media screen and (min-width: 544px) and (max-width: 615px) {
  .ull li a {
    font-size: 3.5em;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1em;
  }

  .ull li a:hover::before {
    width: 55%;
    filter: drop-shadow(0 0 25px var(--clr));
  }
}

@media screen and (min-width: 500px) and (max-width: 544px) {
  .ull li a {
    font-size: 3.5em;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1em;
  }

  .ull li a:hover::before {
    width: 69%;
    filter: drop-shadow(0 0 25px var(--clr));
  }
}

@media screen and (min-width: 425px) and (max-width: 500px) {
  /* .ull li a {
    font-size: 3em;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 0.7em;
  }

  .ull li a:hover::before {
    width: 65%;
    filter: drop-shadow(0 0 25px var(--clr));
  } */
  .ull li a {
    font-size: 3em;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1em;
  }

  .ull li a:hover::before {
    width: 69%;
    filter: drop-shadow(0 0 25px var(--clr));
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  /* .ull li a {
    font-size: 2.5em;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 0.7em;
  }

  .ull li a:hover::before {
    width: 80%;
    filter: drop-shadow(0 0 25px var(--clr));
  } */

  .ull li a {
    font-size: 2.5em;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1em;
  }

  .ull li a:hover::before {
    width: 79%;
    filter: drop-shadow(0 0 25px var(--clr));
  }

  /* a::before {
    height: 60px;
  } */
}

@media screen and (max-width: 320px) {
  /* .ull li a {
    font-size: 1.8em;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 0.7em;
  }

  .ull li a:hover::before {
    width: 65%;
    filter: drop-shadow(0 0 25px var(--clr));
  } */

  .ull li a {
    font-size: 1.8em;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1em;
  }

  .ull li a:hover::before {
    width: 65%;
    filter: drop-shadow(0 0 25px var(--clr));
  }
}

/* ******************************************** */
 @media screen and (min-width: 425px) and (max-width: 650px) {
  .company-name, .contact1 {
    display: none;
  }
}

/* MOBILE */
@media screen and (max-width: 500px) {
  header {
    padding: 16px 32px;
  }
}

@media (max-width: 671px) and (min-width: 501px) {
  header {
    padding: 16px 32px;
  }
}


 /* ******************************************** */

 .section-1 {
    display: flex;
    min-height: 100vh;
    /* height: 100vh; */
    justify-content: center;
    flex-direction: column;
    align-items: center;

 }

 .main-gradient {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 3vw;
    font-style: normal;
    margin-top: 120px;
    background: linear-gradient(45.06deg, #FBC710, #FB10D5);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  animation: anim 2.5s infinite ease-in-out;
}

@keyframes anim {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}



.main-animate {
  /* display: block; */
    font-family: 'Montserrat', sans-serif;
    /* src: url(Fonts\Moneta-Regular.woff); */

    font-style: normal;
    font-weight: 200;
    font-size: 8vw;
    /* line-height: 160px; */
    color: #fff;
    /* margin-left: 90px; */
    white-space: nowrap;
    margin-top: 10px;
    aspect-ratio: auto;
}

.container {
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; */
  margin-top: 10px;
}

#text {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 8vw;
  color: #fff;
  white-space: nowrap;
  aspect-ratio: auto;
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* .main-explore button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 63px;
    gap: 10px; */
    /* width: 226px;
    height: 52px; */
    /* border: 1px solid #FFFFFF;
    border-radius: 16px;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 100;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    background: transparent;
    margin-top: 130px; */
    /* margin-left: 90px; */
    /* cursor: pointer;
    z-index: 0;
} */




/* ************************* */


.main-explore {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  position: relative;
  cursor: pointer;
  margin-top: 130px;

  /* button */
  .link {
    font-family: "Rubik", sans-serif;
    background-color: transparent;
    font-size: 28px;
    letter-spacing: 2px;
    color: #4c6082;
    position: relative;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border: 0;
    padding-left: 20px;
    left: 0;
    line-height: auto;
    overflow: hidden;

    /* line */
    &:before {
      content: "";
      background-color: #f38181;
      width: 3px;
      height: 100%;
      position: absolute;
      z-index: 2;
      left: 0px;
      top: 0px;
      border-radius: 50px;
      transition: all 0.3s ease-in-out;
    }

    /* arrow */
    &:after {
      content: "";
      width: 15px;
      height: 15px;
      display: flex;
      align-items: center;
      background-color: transparent;
      position: absolute;
      border: solid 3px #f38181;
      border-left: 0;
      border-bottom: 0;
      top: calc(50% - 9px);
      border-radius: 2px;
      transform: translateX(-42px) rotate(45deg);
      transition: all 0.3s 0.2s ease-in-out;
    }
  }

  /* bg button */
  &:before {
    content: "";
    background-color: white;
    width: 0;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0px;
    border-radius: 3px;
    transition: all 0.4s 0.3s ease-in-out;
  }

  &:hover {
    &:before {
      width: 100%;
      height: 100%;
      left: 0;
      bottom: 0px;
    }

    .link {
      padding-left: 50px;

      &:before {
        left: 17px;
        transform: rotate(90deg);
      }

      &:after {
        transform: translate(-33px) rotate(45deg);
      }
    }
  }

  @media (max-width: 500px) and (min-width: 426px) {
    .link {
      font-size: 20px;
    }
  }

  @media (max-width: 426px) and (min-width: 320px) {
    .link {
      font-size: 16px;
    }
  }

  @media (max-width: 320px) {
    .link {
      font-size: 16px;
    }
  }
  
}



/* ***************************** */

/* @media (max-width: 500px) and (min-width: 426px) {
  .link {
    font-size: 1px;
  }
} */







@media (max-width: 861px) {
  .main-explore button {
    padding: 11px 40px;
    font-size: 24px;

  }
}

@media (max-width: 684px) {
  .main-explore button {
    padding: 11px 30px;
    font-size: 20px;
  }
  .arrow {
    width: 14px;
  }
}

@media (max-width: 615px) {
  .main-gradient {
    font-size: 3.5vw;
}
.main-animate {
    font-size: 8vw;
    margin-top: 10px;
}
.main-explore button {
  padding: 7px 25px;
  font-size: 17px;
}
.arrow {
  width: 13px;
}

}


.scroller {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-top: 300px;
  background-color: #18a15f;
  height: 40px;
  overflow: hidden;
  }
  .scrollerText {
  position: absolute;
  font-family: 'Montserrat Alternates', sans-serif;
  font-style: normal;
  font-weight: 450;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  margin-left: 100%;
  padding: 5px 0 5px 0;
  }
  .scrollerAnimate {
  transition: margin 15s linear;
  }


/* ///////////////////////////// */


/* ///////////////////////////// */

/* MOBILE LARGE */
@media screen and (max-width: 425px) {
  .company-name, .contact1 {
    display: none;
  }
}
@media (max-width: 500px) and (min-width: 426px) {
  .main-gradient {
    font-size: 4.3vw;
}
.main-animate {
    font-size: 10vw;
    margin-top: 10px;
}
}

@media (max-width: 425px) and (min-width: 320px) {
  .main-gradient {
    font-size: 4.3vw;
}
.main-animate {
    font-size: 10vw;
    margin-top: 10px;
}

.main-explore button {
  padding: 7px 25px;
  font-size: 15px;
  border-radius: 14px;
}
.arrow {
  width: 11px;
}
}

@media (max-width: 320px) {
  .main-gradient {
    font-size: 4vw;
}
.main-animate {
    font-size: 9vw;
    margin-top: 10px;
}

.main-explore button {
  padding: 3px 20px;
  font-size: 13px;
  border-radius: 14px;
}
.arrow {
  width: 10px;
}
}







/* LAPTOP 1024PX */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .main-animate {
    margin-top: 10px;
  }

  .main-explore button {
    margin-top: 50px;
  }


}

















/* ***************************************************** */

/* .our-clients {
    position: relative;                */
    /* display: flex;
    flex-direction: row;
    align-items: center;
    padding: 31px 81px;
    gap: 58px; */
    /* height: 25px; */
    /* position:absolute; */
    /* margin-top: 350px; */
    /* bottom: 0;                   */
    /* top: 350px; */
    /* background-color: #101010; */
    /* left: 0;
    right:0;
    z-index:2; */
/* } */


.section-2 {
    /* position: relative; */
    /* height: 50vh;
    width: 100vw; */

    /* background-color:#101010; */
    /* display: flex; */
    min-height: 1000px;
    /* height: auto; */

    /* justify-content: space-around; */
    /* align-items: center;
    flex-direction: column; */
    
    /* justify-content: center; */
}

.top-2{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 150px;
  padding-left: 70px;
  padding-top: 20px;
  padding-right: 70px;
  padding-bottom: 20px;
}

.secccxy{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  /* font-size: 60px; */
  font-size: 4vw;
  line-height: 85px;
  /* or 120% */
  color: #FFFFFF;
} 
/* ////////////////////////////////////////////////////// */
/* 
@keyframes border-animation {
  0% {
    width: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  50% {
    width: 100%;
    left: 0;
  }

  50.1% {
    left: 100%;
    transform: translateX(-100%);
  }

  100% {
    width: 0;
    left: 50%;
    transform: translateX(-50%);
  }
} */
/* ******************************************************* */
.teenstep {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 5vw;
  color: #FFFFFF;
  position: relative;
}

.teenstep::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  border-bottom: 5px solid #FF006B;
  padding-bottom: 2px;
  /* animation: border-animation 2s infinite; */
}




.blink {
  animation: blink-animation 2s infinite;
}

@keyframes blink-animation {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}



.bottom-2 {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 350px;
  justify-content: space-evenly;
}

.bottom-2 div {
  text-align: center;
}

.im01 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.details-sec2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #C6C6C6;
}

.bottom-2 .step01 {
  margin-left: 40px;
  margin-right: 40px;
}

.bottom-2 .step02 {
  margin-left: 40px;
  margin-right: 40px;
}

.bottom-2 .step03 {
  margin-left: 40px;
  margin-right: 40px;
}

.wihi1 {
  width: 350px;
  height: 48px;
}

.step02 img div {
  width: 300px;
  height: 48px;
}

.step03 img div {
  width: 300px;
  height: 48px;
}

/* ////////////////////////////////// */

@media only screen and (max-width: 1262px) and (min-width: 1131px) {
  .bottom-2 .step01 {
    margin-left: 0px;
    margin-right: 0px;
  }
  
  .bottom-2 .step02 {
    margin-left: 0px;
    margin-right: 0px;
  }
  
  .bottom-2 .step03 {
    margin-left: 0px;
    margin-right: 0px;
  }
}  

@media screen and (max-width: 1132px) {
  .section-2 {
    min-height: 1300px;
  }

  .bottom-2 {
    /* flex-direction: column; */
    flex-wrap: wrap;
  }

  .step02 {
    /* position: relative; */
    top: 150px;
    margin-bottom: 100px;
  }


  .step03 {
    position: relative;
    top: 150px;
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 861px) {
  .section-2 {
    min-height: 1550px;
  }

  .step02 {
    position: relative;
    top: 150px;
    margin-bottom: 150px;
  }

}


@media only screen and (max-width: 768px) and (min-width: 598px) {
  .secccxy, .teenstep {
    font-size: 7vw;
  }
}

@media only screen and (max-width: 598px) and (min-width: 425px) {
  .secccxy, .teenstep {
    font-size: 8vw;
  }
}     

@media screen and (max-width: 500px) {
  .bottom-2 .step01 {
    margin-left: 0px;
    margin-right: 0px;
  }
  
  .bottom-2 .step02 {
    margin-left: 0px;
    margin-right: 0px;
  }
  
  .bottom-2 .step03 {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media only screen and (max-width: 425px) and (min-width: 320px) {
  .secccxy, .teenstep {
    font-size: 7.5vw;
  }
}  


@media (max-width: 320px) {
  .secccxy, .teenstep {
    font-size: 7.5vw;
    line-height: 40px;
  }
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  .bottom-2 .wihi1 {
    width: 285px;
    height: 48px;
  }
}

@media only screen and (max-width: 320px) {
  .bottom-2 .wihi1 {
    width: 285px;
    height: 48px;
  }
}





/* @media screen and (min-width: 425px) {
  .step0111, .step02, .step03 {
    margin-left: 0px;
    margin-right: 0px;
  }
} */
  /* ************************************************ */
  .carde {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    min-height: 700px;
    justify-content: space-around;
    /* margin-top: 100px; */
    /* margin-bottom: 80px; */
    flex-direction: column;

  }


.botspan {
  position: absolute;
  top: 0;
  left: 500px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  font-family: 'Moneta';
  src: url(Fonts\Moneta-Regular.woff);
  font-style: normal;
  font-weight: 600;
  font-size: 90px;
  /* line-height: 122px; */

  color: #1A1A1A;

  opacity: 0.1;
  /* transform: rotate(-2.3deg); */
}

.topspan {
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-family: 'Moneta';
  src: url(Fonts\Moneta-Regular.woff);
  font-style: normal;
  font-weight: 600;
  font-size: 7vw; */
  white-space: nowrap;


  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 7vw;
  line-height: 125px;
  /* identical to box height */

  text-align: center;

  background: linear-gradient(90.06deg, #FBC710 0.92px, #FB10D5 1270px);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;

}

.skil {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.skil img {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
}

.skil img:hover {
  transform: scale(1.9);
}

.secc10{
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 400px;
}

.secc11{
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 400px;
}

.secc13{
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 400px;
}

.detailsss {
  position: relative;
  top: 10px;
  display: flex;
  flex-direction: row;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 2vw;
  line-height: 39px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: #FFFFFF;
}

.requirebutt {
  position: relative;
  top: 70px;
  display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 11px 15px;
    gap: 10px;
    width: 226px;
    height: 52px;
    border: 1px solid #FFFFFF;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    background: transparent;
    cursor: pointer;
    border-radius: 8px;
    
}

.requirebutt:hover {
  background-color: #FFFFFF;
  color: #101010;
}

/* .step01 {

} */

.reqbtn {
  position: relative;
  display: flex;
  justify-content: center;
}







.SD {
  white-space: nowrap;
}


@media screen and (max-width: 425px) {
  .skil {
    flex-direction: column;
  }
  
}

/* @media screen and (max-width: 1020px) {
  .SD {
    padding-top: 50px;
  }
}

@media screen and (max-width: 640px) {
  .UIUX {
    padding-top: 50px;
  }
} */




@media screen and (max-width: 994px) {
  .reqbtn {
    top: 50px;
  }
  .requirebutt {
    top: 20px;
    font-weight: 400;
    font-size: 16px;
    
    width: 200px;
    height: 50px;
  }
  .topspan {
    font-size: 7vw;
  }
  .detailsss div {
    padding: 20px 20px 30px 20px !important;
  }
  .detailsss {
    font-size: 2.5vw;
  }
}

@media (max-width: 861px) {
  .requirebutt {
    top: 20px;
    font-weight: 400;
    font-size: 14px;
    
    width: 190px;
    height: 50px;
  }
  .topspan {
    font-size: 7vw;
  }
}

@media screen and (max-width: 799px) {
  .carde {
    min-height: 888px;
  }
  .detailsss {
    padding-top: 50px;
    font-size: 4vw;
  }
  .topspan {
    font-size: 8vw;
  }
  .detailsss div {
    padding: 20px 20px 30px 20px !important;
  }
  
}

/* @media screen and (max-width: 671px) {
  .topspan {
    font-size: 3vw;
  }
} */


@media screen and (max-width: 671px) {
  .topspan {
    font-size: 10vw;
  }
}


/* MOBILE */

@media screen and (max-width: 500px) {
  .carde {
    min-height: 550px;
  }
  .detailsss {
    font-size: 6vw;
  }
  .requirebutt {
    top: 20px;
    font-weight: 400;
    font-size: 13px;
    
    width: 180px;
    height: 45px;
  }
  .topspan {
    font-size: 10vw;
  }
}

@media screen and (max-width: 425px) {
  .carde {
    min-height: 550px;
  }
  .secc10, .secc11, .secc13 {
    width: 320px;
  }
  .requirebutt {
    top: 10px;
    font-weight: 400;
    font-size: 13px;
    
    width: 170px;
    height: 45px;
  }
  .topspan {
    font-size: 12vw;
  }
}


@media only screen and (max-width: 320px) {
  .carde {
    min-height: 550px;
  }
  .detailsss {
    font-size: 5vw;
  }

  .secc10, .secc11, .secc13 {
    width: 300px;
  }
  .requirebutt {
    top: 10px;
    font-weight: 400;
    font-size: 12px;
    
    width: 160px;
    height: 45px;
  }
}





/* ********************************************** */
  .section-4 {
    /* position: relative; */
    /* height: 89vh;
    width:100%; */
    /* height: 750px;
    width: 90vw; change this later************** */
    background-color:#101010;
    display: flex;
    min-height: 800px;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}

.heading-4-parent {
    /* margin-top: 100px;
    margin-left: 80px; */
    text-align: center;
}

.heading-4,.amaze {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 7vw;
    /* line-height: -130%; */

    color: #FFFFFF;
}

.amaze {

  background: linear-gradient(90.09deg, #FBC710 30px, rgba(251, 16, 213, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.desc-4 {
    position: relative;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 1.8vw;
    /* font-size: larger; */
    line-height: 40px;
    /* width: 50vw; */
    width: 80vw;
    top: 50px;
    text-align: center;
    

    color: #FFFFFF;
    /* margin-top: 30px; */
}

/* ////////////////////////////////////////////////////// */



.carousel {
  /* width: 400px;
  height: 200px; */
  min-height: 250px;
  position: relative;
  overflow: hidden;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.carousel-text {
  color: #FFFFFF;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  margin-top: 100px;
  padding: 0 80px; /* Add 80px padding on the left and right */
}

.carousel-buttons {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel-button {
    display: none;
  color: #FFFFFF;
  background: none;
  border: none;
  font-size: 60px;
  cursor: pointer;
}

.carousel-dots {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #bbb;
  margin: 0 5px;
  cursor: pointer;
}

.carousel-dot.active {
  background-color: #555;
}






/* ********************************************************* */

@media (max-width: 994px) and (min-width: 500px) {
  .section-4 {
    min-height: 540px;
  }

  .carousel-container {
    position: relative;
    top: 50px;

  }

  .carousel-text {
    font-size: 18px;
    line-height: 20px;
  }

  .heading-4 {
    position: relative;
    top: 50px;
  }

  .slide {
    position: relative;
    bottom: 20px;
  }

}

@media (max-width: 544px) and (min-width: 500px) {
  .carousel-text {
    padding: 0 40px; /* Add 80px padding on the left and right */
  }
}


@media (max-width: 500px) and (min-width: 320px) {
  .section-4 {
    position: relative;
    top: 130px;
  }

  .carousel-text {
    font-size: 16px;
    line-height: 20px;
  }

  .carousel-text {
    padding: 0 40px; /* Add 80px padding on the left and right */
  }
}

@media (max-width: 320px) {
  .section-4 {
    position: relative;
    top: 130px;
  }

  .carousel-text {
    font-size: 16px;
    line-height: 20px;
  }

  .carousel-text {
    padding: 0 40px; /* Add 80px padding on the left and right */
  }
}



@media (max-width: 994px) {
  .desc-4 {
    line-height: 30px;
  }
}

@media (max-width: 861px) {
  .desc-4 {
    line-height: 25px;
  }
}

@media (max-width: 861px) {
  .desc-4 {
    line-height: 20px;
  }
}

@media (max-width: 861px) {
  .desc-4 {
    font-size: 2vw;
    line-height: 18px;
  }
}

@media (max-width: 615px) {
  .desc-4 {
    font-size: 2.1vw;
    line-height: 16px;
  }
}

@media (max-width: 544px) {
  .desc-4 {
    font-size: 2.2vw;
    line-height: 13px;
  }
  .detailsss {
    display: none;
  }
}

@media (max-width: 500px) {
  .section-4 {
    min-height: 332px;
    align-items: flex-end;
  }
  .heading-4,.amaze {
    font-weight: 600;
    font-size: 9vw;
  }
  .desc-4 {
    font-size: 2.5vw;
    line-height: 15px;
  }
  div.skil img {
    max-width: 32px;
  }
  .detailsss {
    display: none;
  }
}

@media (max-width: 425px) {
  .heading-4,.amaze {
    font-weight: 600;
    font-size: 9vw;
  }
  .desc-4 {
    font-size: 2.7vw;
    line-height: 15px;
  }
}

@media (max-width: 320px) {
  .heading-4,.amaze {
    font-weight: 600;
    font-size: 9vw;
  }
  .desc-4 {
    font-size: 2.8vw;
    line-height: 13px;
  }
}

@media (max-width: 1132px) {
  .carousel-dots {
    display: none;
  }
}




/* ************************************************** */

 .section-5 {
  position: relative;
  bottom: 100px;
  display: flex;
  min-height: 1235px;
  /* align-content: stretch; */
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

}

.white-why {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 5vw;
  line-height: 83px;
  color: #FFFFFF;
  max-width: 100%;
}


.gradient-chooseus {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 5vw;
  line-height: 83px;
  background: linear-gradient(91.13deg, #FB10D5 0px, #FBC710 370px);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.desc-5 {
  position: relative;
  display: block;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1.8vw;
  line-height: 41px;
  color: #FFFFFF;
  /* margin-top: 30px;
  margin-left: 80px; */
  /* width: 750%; */
  max-width: 70%;
  top: 70px;
  text-align: center;
}


.right-5 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* @media (max-width: 544px) and (min-width: 500px) {
  .section-4 {
    min-height: 600px;
  }
  .section-5 {
    justify-content: space-between;
    min-height: 500px;
  }
} */

@media (max-width: 1349px) and (min-width: 500px) {
  .section-4 {
    /* min-height: 800px; */
  }
  .section-5 {
    position: relative;
    top: -80px;
    justify-content: space-between;
    min-height: 800px;
  }

  .head-5 {
    position: relative;
    top: 70px;
  }

  .left-5 {
    position: relative;
    top: 100px;
  }
  .sec-6 {
    align-items: center;
  }
}

@media (max-width: 500px) and (min-width: 320px) {
  .section-4 {
    /* min-height: 5000px; */
  }
  .section-5 {
    /* justify-content: space-between; */
    top: 80px;
    min-height: 850px;
  }
}

@media (max-width: 615px) {
  .support {
    width: 500px;
  }
}

@media (max-width: 544px) {
  .support {
    width: 400px;
  }
}

@media (max-width: 425px) {
  .support {
    width: 320px;
  }
}

@media (max-width: 320px) {
  .support {
    width: 300px;
  }
}



@media only screen and (max-width: 768px) and (min-width: 425px) {
  .support {
    max-width: 100%;
  }

  .head-5 {
    
    max-width: 100%;
  }

}

@media screen and (max-width: 500px) {
  .white-why, .gradient-chooseus {
    font-size: 9vw;
  }
  .support {
    max-width: 100%;
  }
}

/* ******************************* */

@media (max-width: 994px) {
  .white-why, .gradient-chooseus {
    font-weight: 600;
    font-size: 8vw;
  }
  .desc-5 {
    line-height: 35px;
  }
}

@media (max-width: 861px) {
  .white-why, .gradient-chooseus {
    font-weight: 600;
    font-size: 8vw;
  }

    .desc-5 {
      font-size: 2vw;
      line-height: 30px;
      top: 60px;
    }
}



@media (max-width: 615px) {
  .white-why, .gradient-chooseus {
    font-weight: 600;
    font-size: 8vw;
  }
  .desc-5 {
    font-size: 2.5vw;
    line-height: 20px;
    top: 30px;
  }
}

@media (max-width: 544px) {
  .white-why, .gradient-chooseus {
    font-weight: 600;
    font-size: 10vw;
  }
  .desc-5 {
    font-size: 2.5vw;
    line-height: 17px;
  }
}

@media (max-width: 500px) {
  .white-why, .gradient-chooseus {
    font-weight: 600;
    font-size: 9vw;
  }
  .desc-5 {
    font-size: 2.7vw;
    line-height: 15px;
    top: 20px;
  }
}

@media (max-width: 425px) {
  .white-why, .gradient-chooseus {
    font-weight: 600;
    font-size: 11vw;
  }
  .desc-5 {
    font-size: 2.8vw;
    line-height: 15px;
    top: 10px;
  }
}

@media (max-width: 320px) {
  .section-5 {
    min-height: 700px;
    top: 50px;
  }
  .white-why, .gradient-chooseus {
    font-weight: 600;
    font-size: 11vw;
  }
  .desc-5 {
    font-size: 2.8vw;
    line-height: 13px;
  }
} 




/* *********************************************** */

.sec-6 {
  position: relative;
  display: flex;
  /* justify-content: space-evenly; */
  justify-content: space-between;
  min-height: 700px;
  /* align-items: center; */
  /* height: 60vh;
  width:100%; */
  /* background-color: #1A1A1A;
  margin-top: 300px; */
}

.left-main {
  position: relative;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 114.2%;
  top: -94px;
  /* align-items: center; */
  color: #FBC710;
  /* top: 130px; */
  left: 80px;
}


/* Styling for screens greater than 1349px */
@media (min-width: 1350px) {
  .left-main {
    top: 43px;
  }
}


/* changed form */

.login-box {
  position: relative;
  /* top: 400px; */
  font-family: "DM Sans";
  /* left: 50%; */
  /* width: 400px; */
  padding: 40px;
  width: 500px;
  height: 380px;
  /* transform: translate(70%, -150%); */
  /* background: rgba(24, 20, 20, 0.987); */
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
  margin-right: 90px;
  /* aspect-ratio: 16/9; */
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #bdb8b8;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #03f40f;
  color: #000000;
  border-radius: 5px;
  box-shadow: 0 0 10px #03f40f,
              0 0 10px #03f40f,
              0 0 10px #03f40f,
              0 0 10px #03f40f;
}

.login-box a span {
  position: absolute;
  display: block;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(1) {
  bottom: 2px;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03f40f);
  animation: btn-anim1 2s linear infinite;
}


@media screen and (max-width: 1349px) and (min-width: 768px) {
  .left-main {
    font-size: 4vw;
  }

  .login-box {
    width: 35vw;
  }
}




@media only screen and (max-width: 768px) and (min-width: 425px) {
  .sec-6 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
    min-height: 900px;
  }

  .left-main {
    font-size: 6vw;
    left: 0px;
    text-align: center;
  }

  .login-box {
    width: 60vw;
    margin-right: 0px;
  }

  .left-main {
    top: 0px;
  } 
}

@media screen and (min-width: 425px) and (max-width: 500px) {

  .left-main {
    font-size: 7vw;
    left: 0px;
  }

  .login-box {
    width: 80vw;
    margin-right: 0px;
  }
}





@media screen and (max-width: 500px) {
  .sec-6 {
    flex-direction: column;
  }

  .left-main {
    font-size: 7vw;
    left: 0px;
    text-align: center;
  }

  .login-box {
    width: 80vw;
    margin-right: 0px;
  }

  .moblog {
    display: flex;
    justify-content: center;
  }
}


@media (max-width: 425px) {
  .sec-6 {
    justify-content: center;
  }
  .login-box .user-box label {
    font-size: 14px;
  }
  .login-box form a {
    font-size: 14px;
  }
  .login-box .user-box input {
    font-size: 15px;
  }
}

@media (max-width: 320px) {
  .sec-6 {
    justify-content: center;
  }
  .login-box .user-box label {
    font-size: 12px;
  }
  .login-box form a {
    font-size: 12px;
  }
  .login-box .user-box input {
    font-size: 13px;
  }
}

/* ********************************* */

.sec-7 {
  display: flex;
  justify-content: space-between;
}

.footleft {
  position: relative;
  left: 90px;
}

.footright {
  display: flex;
  flex-direction: column;
  position: relative;
  right: 90px;
  font-size: 1.7vw;
}

.smtext {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 2vw;
  line-height: 39px;
  display: flex;
  align-items: center;

  color: #FFFFFF;
}

.lgtext {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 4vw;
  line-height: 98px;
  display: flex;
  align-items: center;

  color: #FFFFFF;
}

.whatsapp {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  /* font-size: 20px; */
  line-height: 24px;
  display: flex;
  align-items: flex-start;
  text-decoration-line: underline;

  color: #FFFFFF;
}

.phoneno, .gmaill {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  /* font-size: 20px; */
  line-height: 24px;
  display: flex;
  align-items: flex-start;
  /* text-decoration-line: underline; */
  
  color: #FFFFFF;
}

.con1, .con2, .con3 {
  display: flex;
  align-items: center;
  width: 24px;
  margin-right: 10px;
}

.quicksm {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 3vw;
  line-height: 39px;

  color: #FFFFFF;
}

.midsect{
  margin-left: 90px;
  margin-top: 80px;
}

.redirectsm {
  display: flex;
  gap: 15px;
}

@media (max-width: 1132px) and (min-width: 994px) {
  /* .smtext {
    font-size: ;
  }

  .lgtext {

  } */
  /* .smtext .lgtext {
    line-height: 20px;
  } */
  .smtext {
    line-height: 5px;
  }
  .footleft {
    top: 10px;
  }
}

@media (max-width: 994px) and (min-width: 861px) {
  /* .smtext {
    font-size: ;
  }

  .lgtext {

  } */
  /* .smtext .lgtext {
    line-height: 20px;
  } */
  .smtext {
    line-height: 1px;
  }
  .footleft {
    top: 12px;
  }
}

@media (max-width: 861px) and (min-width: 799px) {
  .smtext {
    font-size: 2.3vw;
  }

  .lgtext {
    font-size: 4.5vw;
  }
  /* .smtext .lgtext {
    line-height: 20px;
  } */
  .smtext {
    line-height: 1px;
  }
  .footleft {
    top: 12px;
  }
}

@media (max-width: 799px) and (min-width: 671px) {
  .smtext {
    font-size: 2.3vw;
  }

  .lgtext {
    font-size: 4.5vw;
    line-height: 70px;
  }
  /* .smtext .lgtext {
    line-height: 20px;
  } */
  .smtext {
    line-height: 1px;
  }
  .footleft {
    top: 14px;
  }
}

@media (max-width: 671px) and (min-width: 615px) {
  .smtext {
    font-size: 2.3vw;
  }

  .lgtext {
    font-size: 4.5vw;
    line-height: 70px;
  }
  /* .smtext .lgtext {
    line-height: 20px;
  } */
  .smtext {
    line-height: 1px;
  }
  .footleft {
    top: 14px;
  }
}

@media (max-width: 615px) and (min-width: 544px) {
  .smtext {
    font-size: 2vw;
  }

  .lgtext {
    font-size: 4vw;
    line-height: 40px;
  }
  /* .smtext .lgtext {
    line-height: 20px;
  } */
  .smtext {
    line-height: 1px;
  }
  .footleft {
    top: 14px;
  }
}

@media (max-width: 544px) and (min-width: 500px) {
  .smtext {
    font-size: 2vw;
  }

  .lgtext {
    font-size: 4vw;
    line-height: 40px;
  }
  /* .smtext .lgtext {
    line-height: 20px;
  } */
  .smtext {
    line-height: 1px;
  }
  .footleft {
    top: 14px;
  }
}


/* PAASS LAAN KO */
@media (max-width: 671px) and (min-width: 500px) {
  .whatsapp, .phoneno {
    line-height: 20px;
  }
}

@media (max-width: 799px) and (min-width: 500px) {
  .sec-7 {
    position: relative;
    top: 30px;
  }
}


@media only screen and (max-width: 768px) and (min-width: 425px) {
  .footleft {
    font-size: 3.5vw;
  }
  
  .footright {
    font-size: 1.7vw;
  }
}

/* MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE MOBILE */
@media screen and (max-width: 544px) {
  .sec-7 {
    display: none;
  }

  .midsect {
    display: none;
  }

  .midse{
    margin-left: 50px;
  }

  .quicksm {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 5vw;
    line-height: 25px;
  
    color: #FFFFFF;
  }

  #Only-for-mobile {
    display: flex;
    flex-direction: column;
    height: 280px;
    margin-left: 50px;
  }

  .right-mo {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
  }
  
  .con {
    display: flex;
    position: relative;
  }
  
  .con img {
    margin-right: 10px;
  }
  
  .sm-moo {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 5vw;
    line-height: 24px;

    color: #FFFFFF;
    padding-bottom: 2px;
  }

  .lg-moo {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 11vw;
    line-height: 51px;
    white-space: nowrap;
    color: #FFFFFF;
  }

  .whatsapps {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 5vw;
    line-height: 24px;
    text-decoration-line: underline;

    color: #FFFFFF;
  }

  .phonenos {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 5vw;
    line-height: 24px;

    color: #FFFFFF;
  }

  .gmaills {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 5vw;
    line-height: 24px;

    color: #FFFFFF;
  }

  .whatsapps .con {
    padding-bottom: 16px;
  }

  .phonenos .con {
    padding-bottom: 16px;
  }
}

@media screen and (max-width: 425px) {
  #Only-for-mobile {
    position: relative;
    top: 100px;
  }

  .for-mobiles {
    position: relative;
    top: 100px;
  }

  footer {
    position: relative;
    top: 100px;
  }
}


@media screen and (min-width: 544px) {
  #Only-for-mobile {
    display: none;
  }

  .for-mobiles {
    display: none;
  }
}


@media screen and (min-width: 375px) and (max-width: 425px) {
  #Only-for-mobile {
    margin-left: 35px;
  }

  .midse {
    margin-left: 35px;
  }
}

@media screen and (min-width: 320px) and (max-width: 375px) {
  #Only-for-mobile {
    margin-left: 35px;
  }

  .midse {
    margin-left: 35px;
  }
}

@media screen and (max-width: 320px) {
  #Only-for-mobile {
    margin-left: 30px;
  }

  .midse {
    margin-left: 30px;
  }
}


/* ************************** */

.footlogo {
  position: relative;
  top: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center; /* add this line */
}

.backlogo {
  /* width: 1100px;
  position: relative; */
  max-width: 100%;
  height: auto;
  position: relative;
}

.lasconame {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%); /* add these lines */
  font-family: 'Lexend';
  font-style: normal;
  font-weight: 500;
  font-size: 5vw;
  line-height: 60px;
  color: #FFFFFF;
}

/* .lastLogo {
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.logo-container {
  text-align: center;
  max-width: 20%;
  height: auto;
}

.lastLogo {
  width: 100px;
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.lastbtn {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 63px;
  gap: 10px;
  width: 226px;
  height: 52px;
  white-space: nowrap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border: 1px solid #FFFFFF;
  border-radius: 50px;
  color: #ffffff;
  background: #1A1A1A;
  cursor: pointer;
}

@media (max-width: 861px) {
  .lasconame {
    top: 50%;
    font-size: 6vw;
  }
  .lastbtn {
    bottom: 25%;
  }
}

@media (max-width: 671px){
  .lastLogo {
    width: 80px;
  }
  .lasconame {
    font-size: 6vw;
  }
  .lastbtn {
    bottom: 21%;
    width: 200px;
    height: 52px;
    font-size: 13px;
  }
}

@media (max-width: 615px){
  .lastLogo {
    width: 80px;
  }
  .lasconame {
    font-size: 6vw;
  }
  .lastbtn {
    bottom: 21%;
    width: 180px;
    height: 52px;
    font-size: 13px;
  }
}

@media (max-width: 544px){
  .lastLogo {
    top: 30%;
    width: 80px;
  }
  .lasconame {
    font-size: 7vw;
  }
  .lastbtn {
    bottom: 18%;
    width: 180px;
    height: 52px;
    font-size: 13px;
  }
}

@media (max-width: 500px) and (min-width: 425px) {
  .lastLogo {
    top: 28%;
    width: 65px;
  }
  .lasconame {
    font-size: 7vw;
  }
  .lastbtn {
    bottom: 16%;
    width: 170px;
    height: 45px;
    font-size: 12px;
  }
}

@media (max-width: 425px) {
  .lastLogo {
    top: 25%;
    width: 60px;
  }
  .lasconame {
    top: 46%;
    font-size: 8vw;
  }
  .lastbtn {
    bottom: 19%;
    width: 160px;
    height: 45px;
    font-size: 12px;
  }
}

@media (max-width: 340px) {
  .lastLogo {
    top: 25%;
    width: 60px;
  }
  .lasconame {
    top: 46%;
    font-size: 8vw;
  }
  .lastbtn {
    bottom: 19%;
    width: 140px;
    height: 35px;
    font-size: 10px;
  }
}


/* @media (max-width: 285px) {
  .lastLogo {
    top: 25%;
    width: 40px;
  }
  .lasconame {
    top: 46%;
    font-size: 8vw;
  }
  .lastbtn {
    bottom: 19%;
    width: 120px;
    height: 35px;
    font-size: 10px;
  }
} */
